@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h1{
    font-weight: 700;
}
.jumbotron{
    height: 35em;
    background-image: url(../Images/jumbotron.jpg);
    background-size: cover;
    color: white;
    text-shadow: 0.3em 0.3em 0.3em black;
}
.jumbotron h2{
    font-size: 4.5em;
}